
.hero-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
    margin-top: 80px;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../assets//herobackgroundimg.png");
    background-position: right;
    background-repeat: no-repeat;
  }
  
  .hero-section h1 {
    text-align: center;
    color: #000C1A;
    font-family: Montserrat;
    font-size: 35px;
  }
  
  .hero-section span {
    color: #0078FF;
  }
  
  .hero-section > p {
    text-align: center;
    color: #4d4c4c;
    font-size: 24px;
    font-family: Montserrat;
  }
  
  .btnnn > button {
    width: 408px;
    height: 56px;
    border-radius: 32px;
    padding: 13px 136px 13px 136px;
    background-color: #0078FF;
    color: white;
    font-size: 24px;
    font-weight: 700;
    border: none;
    font-family: Montserrat;
  }
  
  .hero-img {
    padding: 50px 10px 12px 14px;
  }
  

  @media (max-width: 768px) {
    
    .hero-section h1 {
      font-size: 28px;
    }
  
    .hero-section > p {
      font-size: 20px;
    }
  
   
    .btnnn > button {
      width: 90%;
      font-size: 20px;
      padding: 12px 30px;
    }
  
    
    .hero-img img {
      width: 100%;
      height: auto;
    }
  
   
    .hero-container {
      margin-top: 40px;
      flex-direction: column;
    }
  
    .hero-section {
      padding: 0 20px;
    }
  }
  

  @media (max-width: 480px) {
    .hero-section h1 {
      font-size: 24px;
    }
  
    .hero-section > p {
      font-size: 18px;
    }
  
    .btnnn > button {
      width: 90%;
      font-size: 18px;
      padding: 12px 20px;
    }
  
    .hero-container {
      margin-top: 30px;
      flex-direction: column;
    }
  
    .hero-section {
      padding: 0 15px;
    }
  }
  