.service-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat; 
    margin-top: 50px;
   
}
.service-para{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-para > p{
    font-size: 24px;
    font-family: Montserrat; 
} 
.services-session{
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    width: 70%;
    justify-content: center;
    margin: auto;
    gap: 2.5rem;
    margin-top: 35px;
    align-items: center;
}
.cta-btnmm{
    width: 233px;
    height: 61px;
    border-radius: 32px;
    padding: 16.5 64px 16.5px 64px;
    background-color: #0078FF;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    font-family: Montserrat;
}